/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #D2D2D2 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$verde: #00bbd3;
$azul: #4a90e2;


$calm:                            $verde!default;
$positive:                        $azul!default;
$balanced:                        #77c924!default;
$assertive:                       #ff553a!default;
$energized:                       #ffb840!default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

body {
  font-family: 'Roboto'!important;
}

.inicio, .login, .registro {
  .scroll{
    min-height:530px;
  }
  .button,
  .registro-usuario,
  .button-bar,
  .nuevo-usuario{
    max-width: 600px;
    margin-left:auto;
    margin-right: auto;
  }

}
.pane{
  background-color: transparent;
}

.modal {
  top: 0px !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
}

.platform-ios.platform-cordova:not(.fullscreen)  {
  .tabs-top > .tabs, .tabs.tabs-top {
    top: 100px;
  }
  .ejercicios-view {
    .has-header.has-tabs-top {
      top: 200px;
    }
    .item-divider {
      margin-top: 110px;
    }
  }

  .nivel select {
    -webkit-appearance: none;
  }


  .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }

  .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }

  .modal-wrapper .modal .has-header,
  .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }
}

.slide-in-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

  .slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

    .slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

      .slide-in-right.ng-leave, .slide-in-right > .ng-leave {
        -webkit-transition: all ease-in-out 250ms;
        transition: all ease-in-out 250ms;
      }

      .tabs-top > .tabs, .tabs.tabs-top {
        top: 75px;
      }

      .bar.bar-calm {
        border-color: $verde;
        background-color: $verde;
        background-image: linear-gradient(0deg, $verde, $verde 50%, transparent 50%);
      }

      .tabs-striped.tabs-calm .tab-item.tab-item-active, .tabs-striped.tabs-calm .tab-item.active, .tabs-striped.tabs-calm .tab-item.activated {
        border-color: #ffff8c;
      }

      .tabs-striped.tabs-calm .tab-item {
        color: rgba(255, 255, 255, 0.7);
      }
      .tabs-indice > .tab-nav{
  //box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
.bg {
  background-color: #00bdd6;
}

.slider{
  height:420px;
  width:auto;
}

.slider-slide {
  height: 70vh;
  width: auto;
}

.boton-blanco {
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  text-align: center;
  color: #00b1cc!important;
}

.inicio-logo {
  margin: 0 auto;
  display: block;
}

.inicio-titulo {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 100px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.85;
  text-align: center;
  color: #ffffff;
}

.inicio-subtitulo {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 70px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.inicio-texto {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.login-texto {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.1px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
}

.login-volver {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -1.1px;
  text-align: left;
  color: #ffffff!important;
}

.boton-facebook {
  background-color: #39579a!important;
  color: white!important;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: left;
  img {
    position: relative;
    float: left;
    top: 6px;
  }
}

.boton-google {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  img {
    position: relative;
    float: left;
    top: 11px;
  }
}

.login-logo {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  display: block;
  margin-left: -(110px / 2);
  left:50%;
}

ion-side-menu, drawer {
  .bar-header{
    height: 122px;
  }

  .has-header{
    top:90px;
  }
}

drawer {
  .item {
    border-style: none;
  }
}

.account-switcher-bg.bar-header {
  height: 104px;
  background-color: $verde;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  .icon.user{
    margin-left: 16px;
    width:54px;
  }
  .usuario {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    text-align: left;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 45px;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .icon {
    color: #ffffff;
    font-size: 14px;
  }
}

.menu {
  .item {
    border-style: none;
  }
}

.menu-icono {
  width: 24px;

  font-size: 16px!important;
  object-fit: contain;
  .platform-android4 &{
    height:24px;
    top: 17px;
  }
}

.menu-texto {
  width: 101px;
  height: 24px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  text-align: left;
  color: #727272;
}

.sugerencias {
  .item {
    border-style: none;
  }
}

.sugerencias-texto {
  height: 120px;
  border-bottom: solid 2px #009688!important;
}

.bar.item-input-inset .item-input-wrapper.buscador{
  border-radius:3px;
  background: white;
  display: table;
  width:100%;
  //box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.2);
  > .buscador{
    display: table-cell;
    padding: 0;
    width:100%;
  }
  > i{
    display: table-cell;
    width: 30px;
    padding: 0;
    &:before{
      font-size:17px;
      line-height:30px;
      vertical-align: middle;
      width:100%;
    }
  }
  .ion-android-search{
    width: 25px;
  }
  .ion-android-close {
    width: 30px;
    text-align: center;
  }
}

.ejercicios {
  top: 150px;

  //oculta circulo de progreso si valuenow="0" para que no quede un punto
  svg.round-progress[aria-valuenow="0"] path {
    visibility: hidden;
  }
  //modificamos el sistema por defecto de columnas



  @mixin last-row-flexbox($cols){
    $w:((100 / ($cols + 1) ) + 1) * 1%;
    .row{
      justify-content: space-between;
      flex-flow: row wrap;
      padding: 0;
      position: relative;
      .cols {
        flex-basis: $w;
        margin-bottom: ( $cols - 2 ) * 25px ;
      }
    }
  }
  .grupo-all {
    max-width: 140px;
    margin: auto;
  }
  @include last-row-flexbox(3);
  @media (min-width: 767px) {
    @include last-row-flexbox(4);
  }
}

.platform-android4{
  .ejercicios-titulo{
    visibility:hidden;
  }
  .ejercicios{
    .row{
      display: block;
      margin-right: -10px;
      margin-left: -10px;
      width:auto;
    }
    .cols {
      float:left;
      width: (100 / 3) * 1%;
      $pad:10px;
      .grupo-all{
        padding: 0 $pad;
      }
      @media (min-width: 767px) {
        width: (100 / 4 ) * 1%;
      }
    }
  }
}



.ejercicios-view {
  .item-divider {
    background: white;
    margin-top: 80px;
    &.last{
      margin-top: 20px;
    }
    .button-small{
      min-height: 22px;
      line-height: 18px;
    }
  }

  .item {
    border-style: none;
  }
  .botones {
    text-align: center;
    button {
      width: 33%;
      border-radius: 0;
    }
  }
}

.ejercicios-view.progreso {
  ion-content {
    top: 153px;
  }
}
.platform-android{
 .header-item.buttons,
 .title.header-item:not(.title-left) {
  transition-duration: 0ms;
  -webkit-transition-duration:0ms;
  font-size: 14px;
}
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #d4d4d4;
}

.increment {
  width: 5%;
  height: 100%;
  background: $verde;
  transition: all .75s;
}

.increment.en-progreso {
  background: #f76e1e;
}

.increment.pendientes {
  background: #98a0a3;
}

.progreso {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #56c8e7;
  float:right;
}

.progreso.en-progreso {
  color: #f76e1e;
}

.progreso.pendientes {
  color: #98a0a3;
}

.nivel {
  padding-bottom: 5px;
  select {
    border: none;
    background: white;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.6);
  }
}

.grupo {
  display: block;
  font-size: 12px;
  text-align: center;
  top: 5px;
  position: relative;
}

.grupo-imagen {
  position: relative;
  img {
    position: absolute;
    width: 100%;
  }
}

.correcta {
  font-family: 'Roboto';
  font-size: 16px;
  color: #77c924;
}

.incorrecta {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ff553a;
}

.escribir {

  input {
    font-family: 'Roboto';
    font-size: 19px;
  }

  input[readonly], .termino {
    border-radius: 4px;
    background-color: #fff8c3;
    font-family: 'Roboto';
    color: #38474e;
    font-size: 19px;
    min-height: 42px;
  }
  .item-input {
   border-radius: 2px;
   border-bottom: solid 4px #dadada;
 }


 .respuesta {

   border-radius: 2px;
   border-bottom: solid 4px #dadada;

   .input-label {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: #4a90e2;
  }
}

.respuesta-correcta {
 border-radius: 2px;
 border-bottom: solid 4px #77c924;
 .input-label {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #77c924;
}
}

.respuesta-incorrecta {
 border-radius: 2px;
 border-bottom: solid 4px #ff553a;
 .input-label {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #ff553a;
}
}

.button {
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
}

.input-label {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #4a90e2;
}

}

.seleccionar {

  input {
    font-family: 'Roboto';
    font-size: 19px;
  }

  input[readonly], .termino {
    border-radius: 4px;
    background-color: #fff8c3;
    font-family: 'Roboto';
    color: #38474e;
    font-size: 19px;
    min-height: 42px;
  }

  .opcion {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #767676;
    height: 48px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border-bottom-width: 4px;
    input[readonly] {
      background-color: #f2f2f2!important;
    }
  }

  .input-label.left {
    width: 5%;
    font-size: 25px;
  }

  .button {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
  }

  .opcion-incorrecta {
    //border-radius: 2px;
    border-bottom: solid 4px #ff553a;
    .input-label:not(.left) {
      width: 10%;
      font-size: 26px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #ff553a;
    }
  }

  .opcion-correcta {
    //border-radius: 2px;
    border-bottom: solid 4px #77c924;
    .input-label:not(.left) {
      width: 10%;
      font-size: 26px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      color: #77c924;
    }
  }

  .input-label.no-conocido {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: #4a90e2;
    width: auto;
    margin-left: 5%;
    padding-left: 15px;
  }

}

.nuevo-usuario, .registro-usuario {
  .error-registro {
    border-radius: 2px;
    border-bottom: solid 4px #ff553a;
  }
}

.tabs-diccionario{
  z-index: 99 !important;
  pointer-events: none;
  *{
    pointer-events: all;
  }
}
.diccionario-search{
  display:block;
  padding-top: 0;
  overflow: visible;
  .diccionario-boton-cont{
    position: relative;
    display:block;
    text-align: center;
    .dic-cont2{
      border: 1px solid green;
      display:inline;
    }
    .diccionario-boton {
      position: absolute;
      font-family: Roboto;
      font-size: 14px!important;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.5px;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      padding: 0 20px;
      cursor: pointer;
      bottom:10px;
      text-align: center;
      width:80%;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}
.diccionario {
  top: 79px;
  ion-item {
    .icon {
      color: #dee1e2;
    }
    .icon.favorite {
      color: #f8e81c;
    }

    .no-recomendado {
      color: #747474;
    }
  }

  ion-item.desglose {
    background-color: #f6f6f6;
    .row{
      padding: 10px 0 0 0;
    }
    .col {
      text-align: center;
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      color: #4990e2;
      padding: 2px 5px;
      margin-right: 5px;

    }
    .col.disabled {
      color: #d1d3d3;
    }
    .col.pulsado {
      background-color: #ffffff;
    }
    .ng-hide{
      display: none
    }
  }

  ion-item.pagina {
    padding: 0;
    height: 50vh;
    .platform-android4 &{
      height: 300px;
    }
    iframe {
      width: 100%;
      position: absolute
    }

    iframe.euskaltzaindia {
      top: -175px;
      height: 77vh;
      .platform-android4 &{
        height: 250%;
      }
    }

    iframe.elhuyar {
      top: -370px;
      height: 110vh;
      .platform-android4 &{
        height: 250%;
      }
      @media (min-width: 481px) {
        top: -300px;
      }
      @media (min-width: 769px) {
        top: -250px;
      }
      @media (min-width: 1025px) {
        top: -200px;
      }
    }

    iframe.labayru {
      top: -400px;
      height: 114vh;
      .platform-android4 &{
        height: 250%;
      }
      @media (min-width: 993px) {
        top: -110px;
      }
    }
  }

  .ampliar {
    position: absolute;
    top: 0;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
  }
}

.diccionario.favoritos {
  top: 44px;
  .item-divider {
    background: white;
    &.last{
      margin-top: 20px;
    }
    .button-small{
      min-height: 22px;
      line-height: 18px;
    }

    .botones {
      text-align: center;
      button {
        width: 33%;
        min-width: 130px;
        border-radius: 0;
      }
    }
  }
}

.resultados {
  h3 {
    text-align: center;
  }

  h3.verde {
    color: #77c924;
  }

  .button {
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
  }

  .aceptar {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    display: block;
  }
}

.preferencias {
  .preferencias-titulo{
   font-family: Roboto;
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.5;
   text-align: left;
   color: rgba(0, 0, 0, 0.87);
 }
 .preferencias-opcion {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.54);
  margin-left: 10px;
}
.icon {
  font-size: 20px;
}
}

div[ng-bind-html="ayuda.contenido"],
div[ng-bind-html="agradecimientos.contenido"],
div[ng-bind-html="acerca.contenido"]{
  h4, h5{
    color:$azul;
  }
  ol, ul {
    list-style-type: disc;
    margin: 0.7em 0;
    padding-left: 40px;
  }
  li{
    margin-bottom: 5px;
  }
  .image-right{
    float: right;
    margin: 0 0 5px 5px;
  }
}

div[ng-bind-html="agradecimientos.contenido"]{
  text-align: center;
}


ion-modal-view {
  .title {
    text-align: left!important;
  }
}

.progreso-modal {
  .item-divider {
    background: white;
  }
  .botones {
    text-align: center;
    button {
      width: 33%;
      border-radius: 0;
    }
  }
  ion-content {
    top: 124px;
  }
}





