<script src="../js/services/diccionario.js"></script>
<ion-view>
  <ion-content class="diccionario">
    <ion-list>
      <ion-item class="item-text-wrap item-icon-right" ng-repeat-start="termino in diccionario.terminos" ng-click="diccionario.updatePulsado(termino)">
        <strong>{{termino.termino}}</strong>: {{termino.traduccion}} <i ng-show="termino.no_recomendado == 1 && termino.origen == 'eu'" class="no-recomendado ion-android-warning"></i> <span ng-if="termino.no_recomendado == 1 && termino.origen == 'eu'">(Usar: {{termino.usar}})</span>
        <i class="icon" ng-class="{'ion-android-star-outline': !termino.isFavorite, 'ion-android-star favorite': termino.isFavorite}" ng-click="diccionario.updateFavorito($event, termino)"></i>
      </ion-item>
      <ion-item ng-show="termino.p == 1" class="desglose">
        <span class="ampliar">{{'AMPLIAR' | translate}}:</span>
        <div class="row">
          <div class="col" ng-show="termino.origen === 'eu'" ng-class="{'pulsado': diccionario.pagina === 'euskaltzaindia'}" ng-click="diccionario.cargarPagina('euskaltzaindia', termino)">Euskaltzaindia</div>
          <div class="col" ng-class="{'pulsado': diccionario.pagina === 'elhuyar'}" ng-click="diccionario.cargarPagina('elhuyar', termino)">Elhuyar</div>
          <div class="col" ng-class="{'pulsado': diccionario.pagina === 'labayru'}" ng-click="diccionario.cargarPagina('labayru', termino)">Labayru</div>
        </div>
      </ion-item>
      <ion-item ng-if="termino.p == 1 && diccionario.pagina !== ''" class="pagina" ng-repeat-end>
        <iframe ng-if="diccionario.url" ng-class="diccionario.pagina" ng-src="{{diccionario.url | trusted}}"></iframe>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
