<ion-view class="ejercicios-view" cache-view="true">
  <ion-nav-title class="ejercicios-titulo" style="display:block;transform: translate3d(100%, 0, 0);"></ion-nav-title>
  <ion-item class="item-divider padding">
    <div class="progress-bar">
      <div class="increment" style="width: {{ejercicios.increment}}%;"></div>
    </div>
    <div class="nivel">
      <select ng-model="ejercicios.nivel" ng-change="ejercicios.cambiarNivel()">
        <option ng-repeat="nivel in ejercicios.niveles">{{nivel.nombre}}</option>
      </select>
      <span class="progreso">{{ejercicios.increment}}%</span>
    </div>
    <div class="botones">
      <button class="button button-small button-stable" ng-class="{'active': ejercicios.seccion === 'escribir'}" ng-click="ejercicios.cambiarSeccion('escribir')">
        {{'ESCRIBIR' | translate}}
      </button>
      <button class="button button-small button-stable" ng-class="{'active': ejercicios.seccion === 'seleccionar'}" ng-click="ejercicios.cambiarSeccion('seleccionar')">
        {{'SELECCIONAR' | translate}}
      </button>
    </div>
  </ion-item>

  <ion-content class="ejercicios">

    <ion-list>

      <ion-item ng-repeat="items in ejercicios.grupos track by $index">
        <div class="row">
          <div class="cols" ng-repeat="item in items track by item.id" ng-click="ejercicios.mostrarEjercicio(item)">
            <div class="grupo-all">
              <div class="grupo-imagen">
                <img ng-src="{{item.imagen}}">
              </div>
              <round-progress ng-if="item.nombre"
                max="100"
                current="ejercicios.actividad[ejercicios.nivel][item.id] * 100 / ejercicios.cuantos['g' + item.id]"
                color="#45ccce"
                bgcolor="#eaeaea"
                radius="50"
                stroke="2"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="true"
                duration="800"
                animation="easeInOutQuart"
                animation-delay="0">
              </round-progress>
              <span class="grupo">{{item.nombre | uppercase}}</span>
            </div>
          </div>
          <div class="cols"></div>
          <div class="cols"></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

