<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-calm">
    <a class=" button icon-left ion-android-arrow-back button-clear button-light login-volver" ng-click="ejercicios.volver('escribir')"></a>
    <h1 class="title">{{ejercicios.grupo.nombre}}</h1>
  </ion-header-bar>
  <ion-content has-header="true" class="padding escribir">
    <div class="progress-bar">
      <div class="increment" style="width: {{ejercicios.escribir.increment}}%;"></div>
    </div>
    <div class="nivel">
      <span class="progreso">{{ejercicios.escribir.increment}}%</span>
    </div>
    <br>
    <div class="list">
      <label class=" item-input termino">
        <div>{{ejercicios.escribir.termino.traduccion}}</div>
      </label>
      <br>
      <form>
      <div class="item item-input" ng-class="{'respuesta': ejercicios.escribir.estado === '', 'respuesta-correcta': ejercicios.escribir.estado === 'correcta', 'respuesta-incorrecta': ejercicios.escribir.estado === 'incorrecta'}">
        <input type="text" autocapitalize="off" autocorrect="off" ng-model="ejercicios.escribir.respuesta" focus-me="ejercicios.escribir.estado === ''">
        <span ng-if="ejercicios.escribir.estado === ''" class="input-label" ng-click="ejercicios.noReconocido()">{{'NO_CONOCIDO' | translate}}</span>
        <span ng-if="ejercicios.escribir.estado === 'correcta'" class="input-label"><i class="icon ion-android-done"></i></span>
        <span ng-if="ejercicios.escribir.estado === 'incorrecta'" class="input-label"><i class="icon ion-android-close"></i></span>
      </div>
      <span class="correcta" ng-if="ejercicios.escribir.estado === 'correcta'">{{'CORRECTO' | translate}}</span>
      <span class="incorrecta" ng-if="ejercicios.escribir.estado === 'incorrecta'">{{'INCORRECTO' | translate}}.</span>
      <strong ng-if="ejercicios.escribir.estado === 'incorrecta' || ejercicios.escribir.estado === 'no_reconocida'">{{ejercicios.escribir.termino.termino}}: {{ejercicios.escribir.termino.traduccion}}</strong>
      <br>
      <button ng-if="ejercicios.escribir.estado === ''" class="button button-block button-positive activated" ng-click="ejercicios.comprobar()">{{'COMPROBAR' | translate}}</button>
      <button ng-if="ejercicios.escribir.estado !== ''" class="button button-block activated" ng-class="{'button-balanced': ejercicios.escribir.estado === 'correcta', 'button-assertive': ejercicios.escribir.estado === 'incorrecta', 'button-positive': ejercicios.escribir.estado === 'no_reconocida'}" ng-click="ejercicios.continuar()">{{'CONTINUAR' | translate}}</button>
      <input type="submit" ng-click="ejercicios.comprobar()" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
    </div>
  </ion-content>
</ion-modal-view>

