<ion-view>
  <ion-content class="diccionario favoritos">
  <ion-item class="item-divider padding">
    <div class="botones">
      <button class="button button-small button-stable" ng-class="{'active': favoritos.seccion === 'EU_ES'}" ng-click="favoritos.cambiarSeccion('EU_ES')">
        {{'EU_ES' | translate}}
      </button>
      <button class="button button-small button-stable" ng-class="{'active': favoritos.seccion === 'ES_EU'}" ng-click="favoritos.cambiarSeccion('ES_EU')">
        {{'ES_EU' | translate}}
      </button>
    </div>
  </ion-item>
    <ion-list>
      <ion-item class="item-text-wrap item-icon-right" ng-repeat-start="termino in favoritos.terminos[favoritos.seccion]" ng-click="favoritos.updatePulsado(termino)">
        <strong>{{termino.termino}}</strong>: {{termino.traduccion}} <i ng-show="termino.no_recomendado == 1 && termino.origen == 'eu'" class="no-recomendado ion-android-warning"></i> <span ng-if="termino.no_recomendado == 1 && termino.origen == 'eu'">(Usar: {{termino.usar}})</span>
        <i class="icon" ng-class="{'ion-android-star-outline': !termino.isFavorite, 'ion-android-star favorite': termino.isFavorite}" ng-click="favoritos.updateFavorito($event, termino)"></i>
      </ion-item>
      <ion-item ng-show="termino.p == 1" class="desglose">
        <span class="ampliar">{{'AMPLIAR' | translate}}:</span>
        <div class="row">
          <div class="col" ng-show="termino.origen === 'eu'" ng-class="{'pulsado': favoritos.pagina === 'euskaltzaindia'}" ng-click="favoritos.cargarPagina('euskaltzaindia', termino)">Euskaltzaindia</div>
          <div class="col" ng-class="{'pulsado': favoritos.pagina === 'elhuyar'}" ng-click="favoritos.cargarPagina('elhuyar', termino)">Elhuyar</div>
          <div class="col" ng-class="{'pulsado': favoritos.pagina === 'labayru'}" ng-click="favoritos.cargarPagina('labayru', termino)">Labayru</div>
        </div>
      </ion-item>
      <ion-item ng-show="termino.p == 1 && favoritos.pagina !== ''" class="pagina" ng-repeat-end>
        <iframe ng-class="favoritos.pagina" ng-src="{{favoritos.url | trusted}}"></iframe>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

