<ion-view view-title="{{'INICIO' | translate}}" hide-nav-bar="true" class="inicio bg">
  <ion-content class="padding">
    <ion-slide-box>
      <ion-slide>
        <img class="inicio-logo" src="img/logo.svg">
        <h2 class="inicio-titulo">Sakela</h2>
        <div class="padding">
          <h3 class="inicio-texto" translate="T1">Aprendizaje de vocabulario en euskera de forma inteligente</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <h3 class="inicio-subtitulo">Sakela</h3>
        <div class="padding">
          <h3 class="inicio-texto" translate="T2">Aprende vocabulario según el nivel que estés estudiando</h3>
        </div>
        <img class="inicio-logo" src="img/slide-2.svg">
      </ion-slide>
      <ion-slide>
        <h3 class="inicio-subtitulo">Sakela</h3>
        <div class="padding">
          <h3 class="inicio-texto" translate="T3">Sakela recuerda lo que ya has aprendido y lo que tienes pendiente</h3>
        </div>
        <img class="inicio-logo" src="img/slide-3.svg">
      </ion-slide>
      <ion-slide>
        <h3 class="inicio-subtitulo">Sakela</h3>
        <div class="padding">
          <h3 class="inicio-texto" translate="T4">Diccionario offline superveloz con enlaces a diccionarios online</h3>
        </div>
        <img class="inicio-logo" src="img/slide-4.svg">
      </ion-slide>
    </ion-slide-box>
    <button class="button button-block button-light boton-blanco" ng-click="inicio.login()">
      {{ 'EMPEZAR' | translate }}
    </button>
    <div class="padding" ng-click="inicio.login()">
    </div>
    <img class="inicio-logo" src="img/poselab.svg">
  </ion-content>
</ion-view>

