<ion-view view-title="Inicio sesión" hide-nav-bar="true" class="login bg">
  <ion-content class="padding">
    <a class=" button icon-left ion-android-arrow-back button-clear button-light login-volver" ng-click="login.inicio()">{{'INICIO' | translate}}</a>
    <h3 class="inicio-subtitulo">Sakela</h3>
    <div class="list list-inset registro-usuario">
      <label class="item item-input" ng-class="{'error-registro': login.errores.usuario}">
        <input type="text" ng-model="login.datos.usuario" autocapitalize="off" autocorrect="off" placeholder="{{'USUARIO_CORREO' | translate}}" ng-focus="login.limpiar('usuario')">
      </label>
      <label class="item item-input" ng-class="{'error-registro': login.errores.clave}">
        <input type="password" ng-model="login.datos.clave" placeholder="{{'CONTRASENA' | translate}}" ng-focus="login.limpiar('clave')">
      </label>
    </div>
    <button class="button button-block button-light boton-blanco" ng-click="login.ingresar()">
      {{'INGRESAR' | translate}}
    </button>
    <div class="padding" ng-click="login.restrablecer()">
      <h3 class="login-texto" translate="RESTABLECER">Restrablecer contraseña</h3>
    </div>
    <div class="padding" ng-click="login.nuevo()">
      <h3 class="login-texto" translate="NUEVO">Nuevo usuario</h3>
    </div>
    <div class="button-bar">
      <button class="button button-light button-block boton-google" ng-click="login.google()">
        <img src="img/super-g.svg"> GOOGLE
      </button>
      <button class="button button-light button-block boton-facebook" ng-click="login.facebook()">
        <img src="img/facebook-icon.svg"> FACEBOOK
      </button>
    </div>
    <img class="login-logo" src="img/poselab.svg">
  </ion-content>
</ioni-view>
