<ion-side-menus>
  <ion-side-menu-content>
    <ion-pane drawer-menu-content>
      <ion-nav-bar class="bar-calm" animation="no-animation">
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-android-menu" menu-and-drawer-toggle>
          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-pane>
  </ion-side-menu-content>

  <drawer side="left">
    <ion-header-bar class="account-switcher-bg">
      <img class="icon user" src="img/user.svg">
      <span class="usuario">{{app.usuario}}</span>
    </ion-header-bar>
    <ion-content class="has-header" style="background: white;">
      <ion-list>
        <ion-item class="item-icon-left" menu-and-drawer-toggle>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/indice/ejercicios" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-home-black.svg">
          <span class="menu-texto">{{'PAGINA_PRINCIPAL' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/favoritos" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-star-border-black.svg">
          <span class="menu-texto">{{'FAVORITOS' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/preferencias" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-tune-black.svg">
          <span class="menu-texto">{{'PREFERENCIAS' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/sugerencias" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-chat-bubble-outline-black.svg">
          <span class="menu-texto">{{'SUGERENCIAS' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" ng-click="app.share()" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-share-black.svg">
          <span class="menu-texto">{{'RECOMIENDANOS' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/ayuda" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-help-outline-black.svg">
          <span class="menu-texto">{{'AYUDA' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/agradecimientos" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-bookmark-border-black.svg">
          <span class="menu-texto">{{'AGRADECIMIENTOS' | translate}}</span>
        </ion-item>
        <ion-item class="item-icon-left" href="#/app/acerca" menu-and-drawer-toggle>
          <img class="icon menu-icono" src="img/ic-info-black.svg">
          <span class="menu-texto">{{'ACERCA' | translate}}</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </drawer>
  <span class="menu-black-layer"></span>
</ion-side-menus>
