<ion-view view-title="Nuevo usuario" hide-nav-bar="true" class="registro bg">
  <ion-content class="padding">
    <a class=" button icon-left ion-android-arrow-back button-clear button-light login-volver" ng-click="nuevo.registro()">{{'REGISTRO' | translate}}</a>
    <h3 class="inicio-subtitulo">Sakela</h3>
    <div class="list list-inset nuevo-usuario">
      <label class="item item-input" ng-class="{'error-registro': nuevo.errores.usuario}">
        <input type="text" ng-model="nuevo.datos.usuario" placeholder="{{'USUARIO' | translate}}" ng-focus="nuevo.limpiar('usuario')">
      </label>
      <label class="item item-input" ng-class="{'error-registro': nuevo.errores.email}">
        <input type="email" ng-model="nuevo.datos.email" placeholder="{{'CORREO' | translate}}" ng-focus="nuevo.limpiar('email')">
      </label>
      <label class="item item-input"ng-class="{'error-registro': nuevo.errores.clave}" >
        <input type="password" ng-model="nuevo.datos.clave" placeholder="{{'CONTRASENA' | translate}}" ng-focus="nuevo.limpiar('clave')">
      </label>
    </div>
    <button class="button button-block button-light boton-blanco" ng-click="nuevo.registrar()">
      {{'REGISTRARSE' | translate}}
    </button>
    </div>
    <img class="login-logo" src="img/poselab.svg">
  </ion-content>
</ioni-view>

