<ion-view>
  <ion-content class="preferencias">
    <ion-list>
      <ion-item>
        <span class="preferencias-titulo">{{'LENGUAJE' | translate}}</span>
        <div class="row">
          <div class="col" ng-click="preferencias.cambiarLenguaje('eu')">
            <i class="icon" ng-class="{'ion-android-radio-button-off': preferencias.lang !== 'eu', 'ion-android-radio-button-on': preferencias.lang === 'eu'}"></i>
            <span class="preferencias-opcion">{{'EUSKARA' | translate}}</span>
          </div>
          <div class="col" ng-click="preferencias.cambiarLenguaje('es')">
            <i class="icon" ng-class="{'ion-android-radio-button-off': preferencias.lang !== 'es', 'ion-android-radio-button-on': preferencias.lang === 'es'}"></i>
            <span class="preferencias-opcion">{{'CASTELLANO' | translate}}</span>
          </div>
        </div>
      </ion-item>
      <ion-toggle ng-model="preferencias.offline" toggle-class="toggle-calm">
        <span class="preferencias-titulo">{{'OFFLINE' | translate}}</span>
        <div class="preferencias-opcion">{{'OFFLINE_TEXTO' | translate}}</div>
      </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
