<ion-modal-view class="progreso-modal">
  <ion-header-bar align-title="left" class="bar-calm">
    <a class=" button icon-left ion-android-arrow-back button-clear button-light login-volver" ng-click="progreso.volver()"></a>
    <h1 class="title">{{progreso.grupo.nombre}}</h1>
  </ion-header-bar>
  <ion-item class="item-divider padding has-header">
    <div class="progress-bar">
      <div class="increment" ng-class="{'en-progreso': progreso.seccion === 'en progreso', 'pendientes': progreso.seccion === 'pendientes'}" style="width: {{progreso.increment_g[progreso.nivel][progreso.seccion][progreso.grupo.id]}}%;"></div>
    </div>
    <div class="nivel">
      <select ng-model="progreso.nivel" ng-change="progreso.cambiarNivel()">
        <option ng-repeat="nivel in progreso.niveles">{{nivel.nombre}}</option>
      </select>
      <span class="progreso" ng-class="{'en-progreso': progreso.seccion === 'en progreso', 'pendientes': progreso.seccion === 'pendientes'}">{{progreso.increment_g[progreso.nivel][progreso.seccion][progreso.grupo.id]}}%</span>
    </div>
    <div class="botones">
      <button class="button button-small button-stable" ng-class="{'active': progreso.seccion === 'aprendidas'}" ng-click="progreso.cambiarSeccion('aprendidas')">
        {{'APRENDIDAS' | translate}}
      </button>
      <button class="button button-small button-stable" ng-class="{'active': progreso.seccion === 'en progreso'}" ng-click="progreso.cambiarSeccion('en progreso')">
        {{'EN_PROGRESO' | translate}}
      </button>
      <button class="button button-small button-stable" ng-class="{'active': progreso.seccion === 'pendientes'}" ng-click="progreso.cambiarSeccion('pendientes')">
        {{'PENDIENTES' | translate}}
      </button>
    </div>
  </ion-item>
  <ion-content has-header="true" class="has-subheader">
    <ion-list>
      <ion-item class="item-text-wrap" ng-class="{'item-icon-left': progreso.seccion === 'en progreso' || progreso.seccion === 'pendientes', 'item-icon-right': progreso.seccion === 'aprendidas'}" ng-repeat="termino in progreso.terminos_g[progreso.nivel][progreso.seccion][progreso.grupo.id] track by termino.id">
        <i ng-if="progreso.seccion === 'en progreso' || progreso.seccion === 'pendientes'" class="icon ion-android-arrow-back calm" ng-click="progreso.pasarA('aprendidas', termino)"></i>
        <strong>{{termino.termino}}</strong>: {{termino.traduccion}} <i ng-show="termino.no_recomendado == 1 && termino.origen == 'eu'" class="no-recomendado ion-android-warning"></i> <span ng-if="termino.no_recomendado == 1 && termino.origen == 'eu'">(Usar: {{termino.usar}})</span>
        <i ng-if="progreso.seccion === 'aprendidas'" class="icon ion-android-arrow-forward energized" ng-click="progreso.pasarA('en progreso', termino)"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
