<ion-view class="ejercicios-view progreso">
  <ion-nav-title eclass="ejercicios-titulo">
  </ion-nav-title>

  <ion-item class="item-divider padding">
    <div class="progress-bar">
      <div class="increment" ng-class="{'en-progreso': progreso.seccion === 'en progreso', 'pendientes': progreso.seccion === 'pendientes'}" style="width: {{progreso.increment[progreso.seccion]}}%;"></div>
    </div>
    <div class="nivel">
      <select ng-model="progreso.nivel" ng-change="progreso.cambiarNivel()">
        <option ng-repeat="nivel in progreso.niveles">{{nivel.nombre}}</option>
      </select>
      <span class="progreso" ng-class="{'en-progreso': progreso.seccion === 'en progreso', 'pendientes': progreso.seccion === 'pendientes'}">{{progreso.increment[progreso.seccion]}}%</span>
    </div>
    <div class="botones">
      <button class="button button-small button-stable" ng-class="{'active': progreso.seccion === 'aprendidas'}" ng-click="progreso.cambiarSeccion('aprendidas')">
        {{'APRENDIDAS' | translate}}
      </button>
      <button class="button button-small button-stable" ng-class="{'active': progreso.seccion === 'en progreso'}" ng-click="progreso.cambiarSeccion('en progreso')">
        {{'EN_PROGRESO' | translate}}
      </button>
      <button class="button button-small button-stable" ng-class="{'active': progreso.seccion === 'pendientes'}" ng-click="progreso.cambiarSeccion('pendientes')">
        {{'PENDIENTES' | translate}}
      </button>
    </div>
  </ion-item>
  <ion-content class="ejercicios">

    <ion-list>

      <ion-item ng-repeat="items in progreso.grupos track by $index">
        <div class="row">
          <div class="cols" ng-repeat="item in items track by item.id" ng-click="progreso.mostrarProgreso(item)">
            <div class="grupo-all">
              <div class="grupo-imagen">
                <img ng-src="{{item.imagen}}">
              </div>
              <round-progress ng-if="item.nombre"
                max="100"
                current="progreso.actividad[progreso.seccion][progreso.nivel][item.id] * 100 / progreso.cuantos['g' + item.id]"
                color="{{progreso.colores[progreso.seccion]}}"
                bgcolor="#eaeaea"
                radius="50"
                stroke="2"
                semi="false"
                rounded="true"
                clockwise="true"
                responsive="true"
                duration="800"
                animation="easeInOutQuart"
                animation-delay="0">
              </round-progress>
              <span class="grupo">{{item.nombre | uppercase}}</span>
            </div>
          </div>
          <div class="cols"></div>
          <div class="cols"></div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
