<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-calm">
    <a class="button button-clear button-light login-volver" ng-click="ejercicios.volver('seleccionar')"></a>
    <h1 class="title">{{ejercicios.grupo.nombre}}</h1>
  </ion-header-bar>
 <ion-content class="padding resultados">
    <br>
    <div class="row">
      <div class="col col-33"></div>
      <div class="col">
        <div class="grupo-imagen">
          <img ng-if="ejercicios.grupo.id" ng-src="{{'http://hiztegia.bilbozaharra.eus/img/grupo_' + ejercicios.grupo.id + '.svg'}}">
        </div>
        <round-progress
          max="100"
          current="100"
          color="#45ccce"
          bgcolor="#eaeaea"
          radius="50"
          stroke="2"
          semi="false"
          rounded="true"
          clockwise="true"
          responsive="true"
          duration="800"
          animation="easeInOutQuart"
          animation-delay="0">
        </round-progress>
        <span class="grupo">{{ejercicios.grupo.nombre | uppercase}}</span>
      </div>
      <div class="col col-33"></div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col col-20"></div>
      <div class="col">
        <h3>{{'COMPLETO' | translate}}</h3>
      </div>
      <div class="col col-20"></div>
    </div>
    <button class="button button-block button-positive activated aceptar" ng-click="ejercicios.volver('resultados')">{{'ACEPTAR' | translate}}</button>
  </ion-content>
</ion-modal-view>
