<ion-modal-view>
  <ion-header-bar align-title="left" class="bar-calm">
    <a class=" button icon-left ion-android-arrow-back button-clear button-light login-volver" ng-click="ejercicios.volver('seleccionar')"></a>
    <h1 class="title">{{ejercicios.grupo.nombre}}</h1>
  </ion-header-bar>
 <ion-content class="padding seleccionar">
    <div class="progress-bar">
      <div class="increment" style="width: {{ejercicios.seleccionar.increment}}%;"></div>
    </div>
    <div class="nivel">
      <span class="progreso">{{ejercicios.seleccionar.increment}}%</span>
    </div>
    <br>
    <div class="list">
      <label class="item-input termino">
        <div>{{ejercicios.seleccionar.terminos[ejercicios.seleccionar.posicion].traduccion}}</div>
      </label>
      <br>
      <label class="item item-input opcion" ng-class="{'opcion-incorrecta': ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.respuesta === $index && ejercicios.seleccionar.respuesta !== ejercicios.seleccionar.posicion, 'opcion-correcta': ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.respuesta === $index && ejercicios.seleccionar.respuesta === ejercicios.seleccionar.posicion}" ng-repeat-start="termino in ejercicios.seleccionar.terminos track by termino.id" ng-click="ejercicios.opcion($index)">
        <span class="input-label left"><i class="icon" ng-class="{'ion-android-radio-button-off': ejercicios.seleccionar.respuesta !== $index, 'ion-android-radio-button-on': ejercicios.seleccionar.respuesta === $index}"></i></span>
        <input type="text" value="{{ejercicios.seleccionar.terminos[$index].termino}}" readonly="readonly">
        <span ng-if="ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.respuesta === $index && ejercicios.seleccionar.respuesta !== ejercicios.seleccionar.posicion" class="input-label"><i class="icon ion-android-close"></i></span>
        <span ng-if="ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.respuesta === $index && ejercicios.seleccionar.respuesta === ejercicios.seleccionar.posicion" class="input-label"><i class="icon ion-android-done"></i></span>
      </label>
      <span class="correcta" ng-if="ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.posicion === $index">{{'CORRECTO' | translate}}</span>
      <span class="incorrecta" ng-if="ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.respuesta === $index && ejercicios.seleccionar.respuesta !== ejercicios.seleccionar.posicion">{{'INCORRECTO' | translate}}.</span> <strong ng-if="ejercicios.seleccionar.estado !== '' && ejercicios.seleccionar.respuesta === $index && ejercicios.seleccionar.respuesta !== ejercicios.seleccionar.posicion">{{ejercicios.seleccionar.terminos[$index].termino}}: {{ejercicios.seleccionar.terminos[$index].traduccion}}</strong>
      <br>
      <br ng-repeat-end>
      <span ng-show="ejercicios.seleccionar.terminos.length > 0" class="input-label no-conocido" ng-click="ejercicios.noReconocido()">{{'NO_CONOCIDO' | translate}}</span>
      <button ng-if="ejercicios.seleccionar.estado === '' && ejercicios.seleccionar.respuesta === ''" class="button button-block button-stable">{{'COMPROBAR' | translate}}</button>
      <button ng-if="ejercicios.seleccionar.estado === '' && ejercicios.seleccionar.respuesta !== ''" class="button button-block button-positive activated" ng-click="ejercicios.comprobar()">{{'COMPROBAR' | translate}}</button>
      <button ng-if="ejercicios.seleccionar.estado !== ''" class="button button-block activated" ng-class="{'button-balanced': ejercicios.seleccionar.estado === 'correcta', 'button-assertive': ejercicios.seleccionar.estado === 'incorrecta', 'button-positive': ejercicios.seleccionar.estado === 'no_reconocida'}" ng-click="ejercicios.continuar()">{{'CONTINUAR' | translate}}</button>
    </div>
  </ion-content>
</ion-modal-view>
