<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-send" ng-click="sugerencias.enviar()"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list sugerencias">
      <label class="item item-input">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          {{'DE' | translate}}:
        </div>
        <select>
          <option>{{sugerencias.email}}</option>
        </select>
      </label>
      <label class="item item-input sugerencias-texto">
        <textarea ng-model="sugerencias.texto" placeholder="{{'TEXTO_SUGERENCIAS' | translate}}"></textarea>
      </label>
    </div>
  </ion-content>
</ion-view>

