<ion-view cache-view="false" class="tabs-diccionario">
  <div class="bar bar-subheader bar-calm item-input-inset diccionario-search">
    <div class="diccionario-boton-cont">
        <span class="diccionario-boton" ng-click="indice.cambiarDiccionario()">{{indice.titulo | translate}}</span>
    </div>
    <div class="item-input-wrapper buscador" ng-click="indice.irDiccionario()">
      <i class="icon ion-android-search placeholder-icon"></i>
      <input class="buscador" type="search" autocapitalize="off" autocorrect="off" ng-model="indice.termino" ng-model-options="{debounce: 250}" placeholder="{{'BUSCAR' | translate}}..." ng-change="indice.buscar()" ng-keypress="indice.keyPress($event)" focus-me="focus">
      <i ng-if="indice.termino.length > 0" class="icon ion-android-close placeholder-icon" ng-click="indice.limpiar()"></i>
    </div>
  </div>
  <ion-tabs class="tabs-indice tabs-calm tabs-top has-tabs-top tabs-striped">
    <ion-tab title="{{'EJERCICIOS' | translate}}" href="#/app/indice/ejercicios">
        <ion-nav-view name="indice-ejercicios"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'DICCIONARIO' | translate}}" href="#/app/indice/diccionario">
        <ion-nav-view name="indice-diccionario"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{'PROGRESO' | translate}}" href="#/app/indice/progreso">
        <ion-nav-view name="indice-progreso"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
